<!-- Navbar -->
<header
    class="poppins-regular fixed top-0 left-0 right-0 h-16 bg-white shadow-md z-[999] flex items-center justify-between px-6">
    <div class="flex items-center space-x-4">
        <!-- Hamburger for mobile -->
        <button (click)="toggleSidebar()" class="md:hidden text-black focus:outline-none">
            <i class='bx bx-menu text-2xl'></i>
        </button>
        <a routerLink="/" class="flex items-center gap-2">
            <img src="assets/icon.png" alt="Logo" class="w-8 h-8 object-contain" />
            <h1 class="text-xl text-themeColor  hidden md:block">Medifit</h1>
        </a>
    </div>
    <!-- <button
        class="flex items-center gap-2 px-4 py-2 rounded-full bg-[#503217] text-white hover:bg-[#6b462a] shadow-md transition duration-300">
        <i class='bx bx-power-off text-xl'></i>
        <span class="font-medium">Logout</span>
    </button> -->
    <a routerLink="/login"
        class="flex items-center gap-2 px-4 py-2 rounded-full bg-[#503217] text-white hover:bg-[#6b462a] shadow-md transition duration-300">
        <i class='bx bx-power-off text-xl'></i>
        <span class="font-medium">Logout</span>
    </a>

</header>

<!-- sidebar link of admin -->


<aside id="sidebar"
    class="no-scrollbar fixed top-16 left-0 w-64 h-[calc(100vh-4rem)] bg-white shadow-xl overflow-y-auto z-[99] transform transition-transform duration-300 md:translate-x-0 -translate-x-full md:block sidBar"
    [ngClass]="{'translate-x-0': sidebarOpen}">
    <nav class="flex flex-col p-4 space-y-2 text-themeColor text-start">
        <a routerLink="/admin/dashboard" routerLinkActive="active" (click)="toggleSidebar()"
            class="flex items-center space-x-2 p-2 rounded-md hover:bg-[#e2dfcc] transition duration-200">
            <i class='bx bxs-dashboard text-xl'></i>
            <span class="text-md font-medium">Dashboard</span>
        </a>
        <a routerLink="/admin/users" routerLinkActive="active" (click)="toggleSidebar()"
            class="flex items-center space-x-2 p-2 rounded-md hover:bg-[#e2dfcc] transition duration-200">
            <i class='bx bx-user text-xl'></i>
            <span class="text-md font-medium">Users</span>
        </a>
        <a routerLink="/admin/agents" routerLinkActive="active" (click)="toggleSidebar()"
            class="flex items-center space-x-2 p-2 rounded-md hover:bg-[#e2dfcc] transition duration-200">
            <i class='bx bx-user text-xl'></i>
            <span class="text-md font-medium">Agents</span>
        </a>
        <a routerLink="/admin/delivery-persons" routerLinkActive="active" (click)="toggleSidebar()"
            class="flex items-center space-x-2 p-2 rounded-md hover:bg-[#e2dfcc] transition duration-200">
            <i class='bx bx-user text-xl'></i>
            <span class="text-md font-medium">Delivery Person</span>
        </a>
        <div class="flex flex-col space-y-1">
            <button (click)="itemsDropdownOpen = !itemsDropdownOpen"
                class="flex items-center justify-between p-2 rounded-md hover:bg-[#e2dfcc] text-themeColor transition duration-200 w-full">
                <span class="flex items-center space-x-2">
                    <i class="bx bx-box text-xl"></i>
                    <span class="text-md font-medium">Items Listed</span>
                </span>
                <i class="bx" [ngClass]="itemsDropdownOpen ? 'bx-chevron-up' : 'bx-chevron-down'"></i>
            </button>

            <div *ngIf="itemsDropdownOpen" class="ml-8 flex flex-col space-y-1 text-sm text-themeColor">
                <a routerLink="/admin/items-listed/all-items" routerLinkActive="active" (click)="toggleSidebar()"
                    class="space-x-2 p-2 rounded-md hover:bg-[#e2dfcc] transition duration-200">
                    All Items
                </a>
                <a routerLink="/admin/items-listed/medicine" routerLinkActive="active" (click)="toggleSidebar()"
                    class="space-x-2 p-2 rounded-md hover:bg-[#e2dfcc] transition duration-200">
                    Medicine
                </a>
                <a routerLink="/admin/items-listed/health-care" routerLinkActive="active" (click)="toggleSidebar()"
                    class="space-x-2 p-2 rounded-md hover:bg-[#e2dfcc] transition duration-200">
                    Health Care
                </a>
                <a routerLink="/admin/items-listed/beauty-care" routerLinkActive="active" (click)="toggleSidebar()"
                    class="space-x-2 p-2 rounded-md hover:bg-[#e2dfcc] transition duration-200">
                    Beauty Care
                </a>
                <a routerLink="/admin/items-listed/fitness" routerLinkActive="active" (click)="toggleSidebar()"
                    class="space-x-2 p-2 rounded-md hover:bg-[#e2dfcc] transition duration-200">
                    Fitness
                </a>
                <a routerLink="/admin/items-listed/equipment" routerLinkActive="active" (click)="toggleSidebar()"
                    class="space-x-2 p-2 rounded-md hover:bg-[#e2dfcc] transition duration-200">
                    Equipment
                </a>
                <a routerLink="/admin/items-listed/medikit" routerLinkActive="active" (click)="toggleSidebar()"
                    class="space-x-2 p-2 rounded-md hover:bg-[#e2dfcc] transition duration-200">
                    Medikit
                </a>
            </div>
        </div>

        <a routerLink="/admin/orders" routerLinkActive="active" (click)="toggleSidebar()"
            class="flex items-center space-x-2 p-2 rounded-md hover:bg-[#e2dfcc] transition duration-200">
            <i class='bx bx-package text-xl'></i>
            <span class="text-md font-medium">Orders</span>
        </a>
        <a routerLink="/admin/transactions" routerLinkActive="active" (click)="toggleSidebar()"
            class="flex items-center space-x-2 p-2 rounded-md hover:bg-[#e2dfcc] transition duration-200">
            <i class='bx bx-rupee text-xl'></i>
            <span class="text-md font-medium">Transactions</span>
        </a>
        <a routerLink="/admin/support-tickets" routerLinkActive="active" (click)="toggleSidebar()"
            class="flex items-center space-x-2 p-2 rounded-md hover:bg-[#e2dfcc] transition duration-200">
            <i class='bx bx-notepad text-xl'></i>
            <span class="text-md font-medium">Support Tickets</span>
        </a>
        <a routerLink="/admin/contact-requests" routerLinkActive="active" (click)="toggleSidebar()"
            class="flex items-center space-x-2 p-2 rounded-md hover:bg-[#e2dfcc] transition duration-200">
            <i class='bx bx-support text-xl'></i>
            <span class="text-md font-medium">Contact Request</span>
        </a>
    </nav>
</aside>

<!-- user dashboard links -->

<aside id="sidebar"
    class="no-scrollbar fixed top-16 left-0 w-64 h-[calc(100vh-4rem)] bg-white shadow-xl overflow-y-auto z-[99] transform transition-transform duration-300 md:translate-x-0 -translate-x-full md:block sidBar"
    [ngClass]="{'translate-x-0': sidebarOpen}">
    <nav class="flex flex-col p-4 space-y-2 text-themeColor text-start">
        <a routerLink="/user/dashboard" routerLinkActive="active" (click)="toggleSidebar()"
            class="flex items-center space-x-2 p-2 rounded-md hover:bg-[#e2dfcc] transition duration-200">
            <i class='bx bxs-dashboard text-xl'></i>
            <span class="text-md font-medium">Dashboard</span>
        </a>
        <a routerLink="/user/orders" routerLinkActive="active" (click)="toggleSidebar()"
            class="flex items-center space-x-2 p-2 rounded-md hover:bg-[#e2dfcc] transition duration-200">
            <i class='bx bx-package text-xl'></i>
            <span class="text-md font-medium">Orders</span>
        </a>
        <div class="flex flex-col space-y-1">
            <button (click)="itemsDropdownOpen = !itemsDropdownOpen"
                class="flex items-center justify-between p-2 rounded-md hover:bg-[#e2dfcc] text-themeColor transition duration-200 w-full">
                <span class="flex items-center space-x-2">
                    <i class='bx bx-cog text-xl'></i>
                    <span class="text-md font-medium">Settings</span>
                </span>
                <i class="bx" [ngClass]="itemsDropdownOpen ? 'bx-chevron-up' : 'bx-chevron-down'"></i>
            </button>

            <div *ngIf="itemsDropdownOpen" class="ml-8 flex flex-col space-y-1 text-sm text-themeColor">
                <a routerLink="/user/settings/update-profile" routerLinkActive="active" (click)="toggleSidebar()"
                    class="space-x-2 p-2 rounded-md hover:bg-[#e2dfcc] transition duration-200">
                    Update Profile
                </a>
                <a routerLink="/user/settings/update-password" routerLinkActive="active" (click)="toggleSidebar()"
                    class="space-x-2 p-2 rounded-md hover:bg-[#e2dfcc] transition duration-200">
                    Update Password
                </a>
                <a routerLink="/user/settings/address-management" routerLinkActive="active" (click)="toggleSidebar()"
                    class="space-x-2 p-2 rounded-md hover:bg-[#e2dfcc] transition duration-200">
                    Address Management
                </a>
                <a routerLink="/user/settings/delete-account" routerLinkActive="active" (click)="toggleSidebar()"
                    class="space-x-2 p-2 rounded-md hover:bg-[#e2dfcc] transition duration-200">
                    Delete Account
                </a>

            </div>
        </div>
        <a routerLink="/admin/support-tickets" routerLinkActive="active" (click)="toggleSidebar()"
            class="flex items-center space-x-2 p-2 rounded-md hover:bg-[#e2dfcc] transition duration-200">
            <i class='bx bx-support text-xl'></i>
            <span class="text-md font-medium">Support Tickets</span>
        </a>

    </nav>
</aside>

<!-- delivery sidebar -->

<aside id="sidebar"
    class="no-scrollbar fixed top-16 left-0 w-64 h-[calc(100vh-4rem)] bg-white shadow-xl overflow-y-auto z-[99] transform transition-transform duration-300 md:translate-x-0 -translate-x-full md:block sidBar"
    [ngClass]="{'translate-x-0': sidebarOpen}">
    <nav class="flex flex-col p-4 space-y-2 text-themeColor text-start">
        <a routerLink="/delivery/dashboard" routerLinkActive="active" (click)="toggleSidebar()"
            class="flex items-center space-x-2 p-2 rounded-md hover:bg-[#e2dfcc] transition duration-200">
            <i class='bx bxs-dashboard text-xl'></i>
            <span class="text-md font-medium">Dashboard</span>
        </a>
        <a routerLink="/delivery/orders" routerLinkActive="active" (click)="toggleSidebar()"
            class="flex items-center space-x-2 p-2 rounded-md hover:bg-[#e2dfcc] transition duration-200">
            <i class='bx bx-package text-xl'></i>
            <span class="text-md font-medium">Orders</span>
        </a>
        <div class="flex flex-col space-y-1">
            <button (click)="itemsDropdownOpen = !itemsDropdownOpen"
                class="flex items-center justify-between p-2 rounded-md hover:bg-[#e2dfcc] text-themeColor transition duration-200 w-full">
                <span class="flex items-center space-x-2">
                    <i class='bx bx-cog text-xl'></i>
                    <span class="text-md font-medium">Settings</span>
                </span>
                <i class="bx" [ngClass]="itemsDropdownOpen ? 'bx-chevron-up' : 'bx-chevron-down'"></i>
            </button>

            <div *ngIf="itemsDropdownOpen" class="ml-8 flex flex-col space-y-1 text-sm text-themeColor">
                <a routerLink="/delivery/settings/update-profile" routerLinkActive="active" (click)="toggleSidebar()"
                    class="space-x-2 p-2 rounded-md hover:bg-[#e2dfcc] transition duration-200">
                    Update Profile
                </a>
                <a routerLink="/delivery/settings/update-password" routerLinkActive="active" (click)="toggleSidebar()"
                    class="space-x-2 p-2 rounded-md hover:bg-[#e2dfcc] transition duration-200">
                    Update Password
                </a>
                <a routerLink="/delivery/settings/delete-account" routerLinkActive="active" (click)="toggleSidebar()"
                    class="space-x-2 p-2 rounded-md hover:bg-[#e2dfcc] transition duration-200">
                    Delete Account
                </a>

            </div>
        </div>

    </nav>
</aside>